* {
    font-family: Arial, sans-serif;
}

.fondo-cuerpo {
    background-color: #f3f3ec;
    margin: 0;
    padding: 0;
}

.contenedor-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo-principal,
.titulo-evento,
.titulo-evento2,
.subtitulo,
.titulo-evento2 {
    color: #243D51;
    text-align: left;
}

.subtitulo {
    color: #9c907d;
}

.contenedor-eventos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.evento {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
}

.evento-imagen img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0;
}

.evento-texto {
    flex-grow: 1;
}

.titulo-evento {
    font-size: 18px;
    margin: 0;
}

.detalle-evento {
    color: #9c907d;
    margin-top: 5px;
}

.boton-evento {
    background-color: #243D51;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.contenedor-eventos h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.boton-crear {
    display: inline-block;
    padding: 10px 15px;
    background-color: #243D51;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
}

.boton-crear:hover {
    background-color: #1c2f3d;
}
