* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f5f5f5;
}

header {
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 170px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

main {
    padding: 20px;
    padding-top: 190px; 
}

.contenedor-principal {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.titulo-principal,
.titulo-evento,
.titulo-evento2,
.subtitulo,
.titulo-eventos {
    color: #243D51;
    text-align: left;
}

.subtitulo {
    color: #9c907d;
}


.boton-evento {
    background-color: #243D51;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    font-size: 13px;
    display: inline-block;
}

.boton-evento:hover {
    background-color: #1c2f3d;
}


.contenedor-eventos {
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.evento {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    background-color: #fff;
    padding: 15px;
    border: 1px solid #ddd;
    margin-top: 10px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.evento:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
    border-color: #bbb; 
    background-color: #fdfdfd; 
    cursor: default; 
}


.evento-imagen img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}


.evento-texto {
    flex-grow: 1;
}

.titulo-evento {
    font-size: 18px;
    margin: 0;
}

.detalle-evento {
    color: #9c907d;
    margin-top: 5px;
}

.estrella {
    font-size: 24px;
    color: #ccc;
    cursor: pointer;
    margin-left: 10px;
    user-select: none;
    transition: color 0.3s ease;
}

.estrella.seleccionada {
    color: #f39c12; 
}

.eventos-destacado {
    margin-top: 10px;
}

.estrellas {
    display: flex;
    gap: 5px; 
}

.noticia-imagen img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 0;
}
