* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    padding: 0;
}

.mensaje-contenedor {
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    align-items: center; 
}

.mensaje-contenedor strong {
    color: #243D51;
    font-weight: bold;
}

.mensaje-contenedor p {
    color: #9c907d;
    font-size: 18px;
    line-height: 1.5;
}

.mensaje-contenedor button {
    padding: 10px 20px;
    background-color: #243D51;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0px;
    font-size: 16px;
    width: 100%;
    max-width: 200px;
}

.mensaje-contenedor button:hover {
    background-color: #1c2f3d;
}
